marquee {
    width: 100%;
    padding: 10px 0;
    background-color: black;
}
p {
    font-size: 150%;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h1 {
    font-size: 500%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
}

.button {
    width: 40%;
    color: #0099CC;
    background: transparent;
    border-radius: 6px;
  }
    
