marquee {
    width: 100%;
    padding: 10px 0;
    background-color: black;

p {
    background-color: black;
    font-size: 40%;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}